 .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
.bg-dark {
    background-color: rgb(254, 251, 251) !important;
}
.bd-placeholder-img {
    background-image: url();
}
.carousel-control-prev-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e) !important;
}

body {
  font-family: sohne !important;
}

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #252a32;
  background: #f1f5f8;
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #e6e6e6;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.12);
}

.container {
  max-width: 80rem;
  width: 100%;
  height: auto;
  padding: 0 2rem;
  margin: 0 auto;
}

.openmenu {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.closemenu {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.brand {
  font-family: inherit;
  font-size: 1.55rem;
  font-weight: 700;
  line-height: inherit;
  color: #d32f2f;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.title {
  font-family: inherit;
  line-height: inherit;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
.title-large {
  font-size: 2.25rem;
  font-weight: 700;
  color: #252a32;
}

.subtitle {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  line-height: inherit;
  margin: 0.5rem 0;
  color: #d32f2f;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10;
  color: #252a32;
  background: #ffffff;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24); */
}
.navbar .navmenu {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 1rem 0;
  width: 100%;
  height: auto;
}

.navmodal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  outline: none;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  -webkit-transform: translateY(-1600px);
          transform: translateY(-1600px);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.navmodal.active {
  position: fixed;
  overflow-y: scroll;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.navmodal-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
          align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  padding: 2.5rem;
}
@media only screen and (max-width: 768px) {
  .navmodal-wrapper {
    padding: 2.5rem 0;
  }
}
.navmodal-wrapper .column {
  -webkit-box-flex: 1;
          flex: auto;
  flex-basis: 25%;
  width: 16rem;
  height: auto;
  padding: 1.25rem 1.25rem 0 0;
}
.navmodal-wrapper .column .menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
}
.navmodal-wrapper .column .menu-item {
  margin: 0.15rem 0;
}
.navmodal-wrapper .column .menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  color: #252a32;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
@media only screen and (max-width: 1024px) {
  .navmodal-wrapper .column {
    flex-basis: 33.33%;
  }
}
@media only screen and (max-width: 768px) {
  .navmodal-wrapper .column {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 425px) {
  .navmodal-wrapper .column {
    flex-basis: 100%;
  }
}

.main {
  width: 100%;
  height: auto;
  margin-top: 6rem;
}
.main.fixed {
  position: fixed;
  overflow: hidden;
}
