<!DOCTYPE html>
<html>

{% comment %} <head>
  <meta charset="utf-8">
  <title>12 November 2020</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="css/style.css" rel="stylesheet">
</head> {% endcomment %}

<body>

  <p>testing</p>

  <script src="js/script.js"></script>
</body>

</html>